footer {
  height: 100px;
  background-color: $site-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $site-white;
  margin-top: 100px;

  .footer-wrapper {
    width: $content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 12px;
      font-family: gill;
    }

    .socials {
      font-size: 22.46px;
      // min-width: ;
    }
  }
}
